
  /* */
/* OVERALL NOTES: maybe try floating and positioning them play with padding borders, etc */
  /* Learn more about the meaning of the command below. Are there other more complex cmds? 
  This one might ensure divs are resized when I add more border or padding.
  Not Sure though */


  /* body, container, h1.., additionail tags
 /* /* * /then edit CSS code container by container */
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* under the body, try formatting all elements within the body BEFORE you add distinguishing atributes via element, IDs, & classes*/
  body {
    width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(grunge-wall.png);
    background-color: #ffffff;
    line-height: 30px;
  }
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  .box-header {
      background-color: #ffffff;
      border-color: #cccccc;
      font-family: font-family: 'Georgia', Times, Times New Roman, serif;
      position: fixed;
      width: 100%;
  }
  
  h1 {
    position: relative;
    left: 20px;
    font-size: 30px;
    color: lightgray;
    weight: 500px;
      
  }

  #logo {
  float: left;
  background-color: #4aaaa5;
  height: 100px;
  width: 380px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  text-align: center;
  font-size: 30px;
  line-height: 100px;
  font-weight: 200px;
  color: whitesmoke;
  text-decoration: none;

}
/* NOTE: text decoration removes underlink from my name
/* since a link was embedded in the same line as --& before--my id="log">Jessica R. La Torre</a> */


nav {
  margin-top: 30px;
  float: right;
}

nav a {
  text-decoration: none;
  color:#666666; 
  font-size: 20px;
}

h1 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  marin-left: 10px;

}

p {
 padding-left: 140px;
 color: grey;
 font-size: 20px;
}

#masterhead {
  background-color: #ffffff;
  height: 100px;
  width:100%;
  border-color: #cccccc;
  padding-left: 140px;
}

.menu {
  float: left;
  width: 600px;
  color:#cccccc;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  word-spacing: 30px;
  padding-left: 100px;
  margin-left: 200px;
}

#overall-container {
  float: left;
  width: 960px;
  margin: 0 auto;
  padding-left: 140px;
  padding-top: 40px;
  clear: both;
}

.main-container {
  float: left;
  width: 650px;
  height: 450px;
  background-color: #ffffff;
  clear: both;
  padding-right: 60px;
}

.bio-image {
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  left: 20px;
}

.sidebar {
  float: right;
  width: 100px;

}
 #connect {
    background-color: black;
    display: flex;
    width: 270px;
    padding: 40px;
    align-items: center;
    justify-content: center;
    overflow: auto;
    float: right;
  
 }
 .icon {
   width: 80px;
   height: 50px;
   border-top: 20px;
   border-color: red;

 }   

 .work {
  align-items: center;
  display: flex;
  postion: absolute;
  color: grey; align-items: center;
  font-family: 'Georgia', Times, Times New Roman, serif;

 }

 ul {
   color: grey;
   line-height: 40px;
 }

 input [type=submit] {
   margin-left: 30px;
   background-color:#4aaaa5;
   font-family: Arial, Helvetica, sans-serif;
 }

 /* not sure about how to change button color */
 
footer {
  width: 100%;
  background-color: #666666;
  color: lightgrey;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: px;
}


